/* App.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #8ce595;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin: 0;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-container input {
  width: 45%; /* Adjust the width as needed */
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  background-color: #5e4caf;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  background-color: #3d82a7;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}